---
layout: default
---


  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <!doctype html>
  <html class="no-js" lang="">
      <head>
          <meta charset="utf-8">
      </head>
      <body>
          <script src="script/new_data.js"></script>
          <script src="script/main.js"></script>
          <div id="container">
              <div id="center">
                  <div id="periodic-table">
                      <div style="grid-column:6/11; grid-row:3;">Click an element.</div>
                      <div id="loader" style="grid-column:9/11; grid-row:6;">
                        <svg class="spinner" width="75px" height="75px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                       </svg>
                       Loading...
                      </div>
                  </div>
              </div>
          </div>
        <div id="madeby">
            <span>Based on the <a href="https://github.com/ablakey/periodic">Periodic Table</a> by</span>
            <a href="http://github.com/ablakey/">Andrew Blakey</a>
        </div>
      </body>
  </html>

  <div class="post-content">
    {{ content }}
  </div>

</div>
